@charset "UTF-8";

* {
	color:#001E42;
}
body{
	margin:0px;
	padding:0px;
}
section{
	margin:0px;
	padding:0px;	
}
article {
	width:100%;
	margin:0px;
	padding:50px 0px;
}
#header_fill {
	width:100%;
	margin:0px;
	padding:100px 0px;
}
.back_mint {		
	background-color:#C4E8F6;
}
.back_white {	
	background-color:#fff;	
}
.back_beige {
	background-color:#FDF8F5;
}

/* 섹션안의 박스 */
.content {
	width:90%;
	margin:50px auto 30px;
	padding:0px auto;
}
/* div안의 버튼 등을 가운데 정렬 */
.content>.center {
	margin:0 auto;
	text-align:center;
	
}

